<!-- <ion-header>
  <ion-toolbar>
    <ion-title>question1a</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content text-center>
    <h1>What have you heard about cooperatives? (Tick all that applies) </h1>
  
    <ion-list>
        <ion-list>
          <ion-item>
            <ion-checkbox slot="end" ></ion-checkbox>
            <ion-label>Helpful to businesses </ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="end" ></ion-checkbox>
            <ion-label>Helpful to families</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="end" ></ion-checkbox>
            <ion-label>Offers money lending services</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="end" ></ion-checkbox>
            <ion-label>Mismanaged </ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="end" ></ion-checkbox>
            <ion-label>Corrupt officers</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="end" ></ion-checkbox>
            <ion-label>Hassle and lengthy money lending process</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="end" ></ion-checkbox>
            <ion-label>Others</ion-label>
          </ion-item>
        </ion-list>
      </ion-list>
      
    <ion-button routerLink="/question1a" routerDirection="forward">
      Back
    </ion-button>
    <ion-button routerLink="/question1c" routerDirection="forward">
      Next
    </ion-button>
  </ion-content>
  