<!-- <ion-header>
  <ion-toolbar>
    <ion-title>question1a</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content text-center>
    <h1>Future plans for current business: </h1>
    
    <ion-list>
        <ion-list>
          <ion-item>
            <ion-checkbox slot="end" ></ion-checkbox>
            <ion-label>Expansion</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="end" ></ion-checkbox>
            <ion-label>Diversify</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="end" ></ion-checkbox>
            <ion-label>Buying New Equipment</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="end" ></ion-checkbox>
            <ion-label>Others KUWANG PANI TXTBOX</ion-label>
          </ion-item>
        </ion-list>
      </ion-list>
      
    <ion-button routerLink="/question2g" routerDirection="forward">
      Back
    </ion-button>
    <ion-button routerLink="/question2i" routerDirection="forward">
      Next
    </ion-button>
</ion-content>
  