<!-- <ion-header>
  <ion-toolbar>
    <ion-title>question1c</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content text-center>
  
  <h1>Are you a member of a cooperative? </h1>
  <ion-list>
      <ion-radio-group>
    
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="Yes"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="No"></ion-radio>
        </ion-item>
    
      </ion-radio-group>
  </ion-list>

  KUWANG PA NI IF YES OR NO
  <br>
  <ion-button routerLink="/question1b" routerDirection="forward">
    Back
  </ion-button>
  <ion-button routerLink="/question2a" routerDirection="forward">
    Next
  </ion-button>
</ion-content>
