<!-- <ion-header>
  <ion-toolbar>
    <ion-title>question1a</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content text-center>
  <h1>Do you know what a cooperative is? </h1>

  <ion-list>
      <ion-radio-group>
    
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="Yes"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="No"></ion-radio>
        </ion-item>
    
      </ion-radio-group>
  </ion-list>
    
  <ion-button routerLink="/home" routerDirection="forward">
    Back
  </ion-button>
  <ion-button routerLink="/question1b" routerDirection="forward">
    Next
  </ion-button>
</ion-content>
